SD1023/BooksManiaClient/xml-resources/web-service-references/BookBase/wsdl/localhost_8080/BooksManiaServer/BookBase.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://sd.aptu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sd.aptu.edu/">

<xs:element name="RegisterBook" type="tns:RegisterBook" />

<xs:element name="showBooks" type="tns:showBooks" />

<xs:element name="showBooksResponse" type="tns:showBooksResponse" />

<xs:complexType name="showBooks">
<xs:sequence />
</xs:complexType>

<xs:complexType name="showBooksResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegisterBook">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>