SD1117/BooksManiaClient/xml-resources/web-service-references/BookBase/wsdl/localhost_8084/BooksManiaServer/BookBase.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.sd.aptu.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.sd.aptu.edu/" name="BookBaseService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.sd.aptu.edu/" schemaLocation="http://localhost:8084/BooksManiaServer/BookBase?xsd=1" />
</xsd:schema>
</types>
<message name="registerBook">
<part name="parameters" element="tns:registerBook" />
</message>
<message name="registerBookResponse">
<part name="parameters" element="tns:registerBookResponse" />
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser" />
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse" />
</message>
<message name="showBooks">
<part name="parameters" element="tns:showBooks" />
</message>
<message name="showBooksResponse">
<part name="parameters" element="tns:showBooksResponse" />
</message>
<message name="setUserStatus">
<part name="parameters" element="tns:setUserStatus" />
</message>
<message name="setUserStatusResponse">
<part name="parameters" element="tns:setUserStatusResponse" />
</message>
<portType name="BookBase">
<operation name="registerBook">
<input wsam:Action="http://server.sd.aptu.edu/BookBase/registerBookRequest" message="tns:registerBook" />
<output wsam:Action="http://server.sd.aptu.edu/BookBase/registerBookResponse" message="tns:registerBookResponse" />
</operation>
<operation name="registerUser">
<input wsam:Action="http://server.sd.aptu.edu/BookBase/registerUserRequest" message="tns:registerUser" />
<output wsam:Action="http://server.sd.aptu.edu/BookBase/registerUserResponse" message="tns:registerUserResponse" />
</operation>
<operation name="showBooks">
<input wsam:Action="http://server.sd.aptu.edu/BookBase/showBooksRequest" message="tns:showBooks" />
<output wsam:Action="http://server.sd.aptu.edu/BookBase/showBooksResponse" message="tns:showBooksResponse" />
</operation>
<operation name="setUserStatus">
<input wsam:Action="http://server.sd.aptu.edu/BookBase/setUserStatusRequest" message="tns:setUserStatus" />
<output wsam:Action="http://server.sd.aptu.edu/BookBase/setUserStatusResponse" message="tns:setUserStatusResponse" />
</operation>
</portType>
<binding name="BookBasePortBinding" type="tns:BookBase">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="registerBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="showBooks">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setUserStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BookBaseService">
<port name="BookBasePort" binding="tns:BookBasePortBinding">
<soap:address location="http://localhost:8084/BooksManiaServer/BookBase" />
</port>
</service>
</definitions>